.menu_dropdown {
  position: absolute;
   left: 7%;
   right: 0;
  transform: translateX(-100%);
  background-color: #f9d9ea;
  margin-top: 8px;
  width: 86%; /* hoặc dùng giá trị cố định bạn muốn */
  box-shadow: none;
  border: 1px solid;
  border-top: none;
  border-color: #f0efed !important;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  animation: fadeSlideDown 0.3s ease-in-out forwards;
}


@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
